body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Amatic SC", cursive;
}

.MuiTypography-h6 {
  font-family: "Amatic SC", cursive !important;
  font-size: 1.5em !important;
}

.MuiPaper-rounded {
  font-family: "Roboto", sans-serif !important;
  font-size: 0.8em !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
