body {
  margin: 0;
  height: 100vh;
  font-family: "Helvetica";
}

.carousel-root {
  height: 100%;
}

.carousel .slide {
  max-height: 92vh; /* change this to whatever you want */
  width: auto;
  background-color: black;
}
